body {
    font-size: 18px;
}

#header-nav {
    background-color: #333;
    border-radius: 0;
    border: 0;
}

#hd {
    color: #fff;
    font-size: larger;
}

#menu1,
#menu2,
#menu3 {
    border: 1px solid #333;
    background-color: gray;
    color: #fff;
}

.box {
    padding: 5px;
}